body{
    font-family: 'Bitter', serif;
font-family: 'Lobster', cursive;
}
.center{
    color: red;
    font-size: 50px;
    margin-bottom: -10px;
   
}
    .font{
        font-size: 50px;
        margin-bottom: -20px;
      

    }
    .up{
        font-size: 20px;
    }
.flex{
    display: flex;
}
.flex img{
    padding-right: 80px
   
    
}
.new{
    padding-left: 80px;
    padding-top: 120px;
    text-align: justify;
    padding-right: 10%;
   

}
.button{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    background: linear-gradient(tomato, yellow);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
}
span{
    color: teal;
}
.add{
    color: blue;
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;
}
.height{
    height: 140px;
}
.box{
    display: flex;
    margin-bottom: 7%;
}
.one{
   box-shadow: 5px 7px 40px tomato;
   height: 300px;
   width: 20%;
   margin-left: 5%;
   margin-right: 5%;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 20px;
   padding-top: 20px;
   background-color: peachpuff;
   border-radius: 20px;
}
.second{
    box-shadow: 5px 7px 40px tomato;
   height: 300px;
   width: 20%;
   margin-left: 5%;
   margin-right: 5%;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 20px;
   padding-top: 20px;
   background-color: rgb(253, 253, 20);
   border-radius: 20px;

}
.third{
    box-shadow: 5px 7px 40px tomato;
   height: 300px;
   width: 20%;
   margin-left: 5%;
   margin-right: 5%;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 20px;
   padding-top: 20px;
   background-color: rgb(247, 15, 15);
   border-radius: 20px;
}
.white{
    color: rgb(83, 5, 146);
}
.size{
    padding-left: 10%;
}
.display{
    display: flex;
    margin-bottom: 3%;
   
}
.display img{
    padding-left: 30%;

}
.left{
    padding-left: 15%;
    padding-right: 10%;
}
    .img {
        padding-right: 20%;
        
      }
      .ad{
        font-size: 40px;
        margin-bottom: -10px;
      }
      .upper{
          padding-top: 5px;
      }
      footer{
          background-color: black;
          padding-bottom: 2%;
          text-align: center;
          color: tomato;
          
      }
      .top{
         
          padding-top: 50px;
          font-size: 30px;
         
      }
      #new-color{
          color: white;
          font-size: 20px ;
      }
      .half{
          display: block;
          text-align: center;
      }
      .line{
          text-align: center;
          margin-bottom: 5%;
      }
      .back{
          border-left: 5px solid tomato;
          padding-left: 1%;
      }